body {
    background-color: #201a1a ;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 100px;
}

.slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s ease;
}

.item {
    position:absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

img:hover {
    cursor: pointer;
}

.buttons {
    bottom: 150px;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
}

.button {
    font-size: 2rem;
    color: #e1ce96 ;
    border: #8b4d42 2px solid;
    border-radius: 5px;
    background-color: #ad814d ;
    margin: 50px;
    width: 100px;
    height: 50px;
}