.body3d {
    width: 100vw;
    background-color: #201a1a ;
    overflow-x: hidden;
}

.banner3d {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 100px;
}

.slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s ease;
}

.item3d {
    position:absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
}

.item3d img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.item3d img:hover {
    cursor: pointer;
}

.buttons3d {
    bottom: 150px;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.button3d {
    font-size: 2rem;
    color: #ffffff ;
    border: #0c0a11 2px solid;
    border-radius: 5px;
    background-color: rgb(36, 36, 36) ;
    margin: 50px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}