@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
:root{
    --primary-color:#693e23;
    --secondary-color:#d8a468;
    --tertiary-color:#ffb8b8;
    --text-dark: #212529;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
    --font-cartoon: "Nerko One". serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cfkname {
    text-align: center;
    color: wheat;
    margin-top: 5px;
}

.section-container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header{
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    text-align: center;
    line-height: 3.75rem;
    text-shadow: 2px 2px var(--secondary-color);
}

.section-description {
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--tertiary-color);
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
}

#home img, h1 {
    max-width: 80vw;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: .3s;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-image: url(stuf/cfkbg2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

/* CFK logo at top */
.nav-logo img {
    width: 150px;
    max-width: 250px;
}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-links.open {
    transform: translateY(0);
}

.nav-links a{
    font-weight: 600;
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.header-container {
    padding-top: 150px;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header-image img {
    max-width: 600px;
    margin-inline: auto;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-container h2 {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 2.8rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;
}

.header-content h1{
    font-size: 3.5rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--secondary-color);
    line-height: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px rgb(29, 14, 8);
}

/* i shit my pants */
.header-content h1 span {
    font-size: 2.5ch;
}

.banner-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 300px;
}

.banner-card {
    padding: 1rem;
    background-position: center center;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.banner-card:nth-child(1) {
    background-image: url(stuf/v913o7bo2g481\ 2.jpg);
    background-size: cover;
    z-index: 11;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.banner-card:nth-child(1):hover {
    cursor: pointer;
}

.banner-card:nth-child(2) {
    background-image: url(stuf/cat-hamburger-v0-9rpfdee9eavc1.webp);
    background-size: cover;
}

.banner-card:nth-child(3) {
    background-image: url(stuf/92cdabe45ffcae6edd61553fac0e96b8.jpg);
    background-size: cover;
}

.banner-card p{
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white)
}

.banner-card h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}

#gorgonimg {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.4s ease;
    width: 400px;
    height: 250px;
}

.order-container h3 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.order-container .section-header {
    margin-bottom: 1rem;
}

.order-container .section-description {
    margin-bottom: 2rem;
    text-align: center;
}

.order-grid {
    display: grid;
    gap: 2rem;
}

.order-card {
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
}

.order-card:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.order-card img {
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

.order-card h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.order-card p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.event-content {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.event-details {
    text-align: center;
}

.event-details h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-dark);
}

.event-details .section-header {
    margin-bottom: 1rem;

}

.reservation {
    position: relative;
    isolation: isolate;
    background-image: url(stuf/cfkbg2.png);
}

.reservation-container h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-dark);
    text-align: center;
}

.reservation-container form{
    max-width: 400px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.reservation-container input {
    padding: .75rem 1rem;
    outline: none;
    border: 1px solid var(--text-dark);
    font-size: 1rem;
    color: var(--text-dark);
}

.reservation-container input::placeholder{
    color: var(--text-dark);
}

.reservation-image {
    display: none;
}

.footer {
    background-image: url(stuf/CFK\ logo2\ dark\ graybone\ pattern\ bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-logo img {
    max-width: 250px;
}

.footer-content {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.footer-content p {
    font-weight: 5500;
    color: var(--white);
    line-height: 1.75rem;
}

.footer-links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer-links li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    color: var(--white);
}

.footer-links li span {
    font-size:  1.25rex;
}

.footer-socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-socials a{
    font-size: 1.5rem;
    color: var(--white);
}

.footer-socials a:hover {
    color: var(--secondary-color);
}

.footer-bar {
    padding: 1rem;
    font-size: .8rem;
    color: var(--white);
    text-align: center;
}

.event-image {
    max-width: 90vw;
}

#goup {
    visibility: hidden;
    position: fixed;
    bottom: 50px;
    right: 75px;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    border-radius: 25px;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border-color: var(--text-dark);
    border-width: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goup:hover {
    cursor: pointer;
    background-color: rgb(221, 195, 166);
    color:#855335;
    border-color: #41464b;
    transition: 0.21s;
}

#music {
    position: fixed;
    bottom: 50px;
    left: 75px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 25px;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    border-color: var(--text-dark);
    border-width: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#music:hover {
    cursor: pointer;
    background-color: rgb(221, 195, 166);
    color:#855335;
    border-color: #41464b;
    transition: 0.21s;
}

.pick-song {
    position: fixed;
    bottom: 105px;
    background-color:#79523a;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    gap: 5px;
    left: 20px;


    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.pick-song.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.pick-song:hover {
    background-color:#8b664e;
    transition: 0.25s;
}

.pick-song button {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: #212529;
    border-radius: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-sections {
    font-family: var(--header-font-2);
    grid-column: 1 / -1;
    grid-row: auto;
    display: flex;
    background-color: var(--secondary-color);
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem; 
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
}

#srpc {
    color: white;
}

#srpc:hover {
    color: rgb(199, 199, 255);
}

@media (width > 540px) {
    .banner-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-card:nth-child(1) {
        grid-area: 1/1/2/3;
    }

    .order-grid {
        grid-template-columns: repeat(2, 1fr);
    }
        .nav-logo img {
    width: 200px;
    max-width: 250px;
    }

    .header-content h1 span {
    font-size: 2.7ch;
    }
}

@media (width > 768px) {
    nav{
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav-header{
        padding: 0;
        background-color: transparent;
    }

    .nav-logo img {
        max-width: 250px;
    }

    .nav-logo-bg {
        display: flex;
    }

    .nav-logo-nobg {
        display: none;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
        z-index: 1;
        font-size: 1.5rem;
    }

    .nav-links a {
        color: var(--white);
    }

    .nav-logo img {
    width: 250px;
    max-width: 250px;
    }

    .header-content h1 span {
    font-size: 3.5ch;
    }

    .nav-links a:hover {
        color: var(--tertiary-color);
    }

    .header-container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-top: 0;
    }

    .header-image{
        grid-area: 1/2/2/3;
    }

    .header-content h2 {
        margin-inline-start: unset;
    }

    .header-content h1 {
        text-align: center;
    }

    #gorgonimg {
        display: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 20px;
        transition: 0.4s ease;
        height: 650px;
        width: 250px;
    }

    .banner-card {
        padding: 1.5rem;
    }

    .banner-card:nth-child(1) {
        grid-area: 1/1/3/2;
    }

    .order-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .event-content {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .event-image {
        grid-area: 1/2/2/3;
    }

    .event-details,
    .event-details .section-header {
        text-align: left;
    }

    .reservation-container form {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }

    .reservation img {
        display: flex;
        position: absolute;
        z-index: -1;
    }

    .footer-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links li{
        justify-content: flex-end;
    }

    .footer-socials{
        justify-content: flex-end;
    }
}


@media (width > 1024) {
    .order-grid {
        gap: 2rem;
    }
}