@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    background-image: url('CFK logo2 dark graybone pattern bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    color: seashell;
    top: 150px;
    font-family: 'Lexend';
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(95, 83, 87);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(1, 1, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .15s ease;
}

.wrapper.active {
    height: 520px;
}

.form-box {
    width: 100%;
    padding: 40px;
}

.form-box.login {
    transition: transform .15s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.form-box.register {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .15s ease;
    transform: translateX(0px);
}

.form-box h2 {
    font-size: 2rem;
    color: rgb(255, 225, 234);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.16s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -4px;
}

.input-box input {
    color: rgb(238, 142, 142);
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(238, 142, 142);
    line-height: 57px;
}

.rember-forgor {
    font-size: .9em;
    color: pink;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rember-forgor label input {
    accent-color: rgb(255, 50, 50);
    margin-right: 3px;
}

.rember-forgor a {
    color: rgb(209, 217, 255);
    text-decoration: none;
}

.rember-forgor a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: rgb(255, 103, 103);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(255, 224, 229);
    font-weight: bold;
    font-size: 1.1rem;
}

.login-register {
    font-size: .9em;
    color: pink;
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}

.login-register p a {
    color: pink;
    text-decoration: none;
    font-weight: bold;
}

.login-register p a:hover {
    text-decoration: underline;
}
