@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

main {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: rgb(11,11,11);
    user-select: none;
    font-family: 'Ubuntu';
}

#title {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background-color: pink;
}
h1 {
    font-family: 'Lexend';
    color: black;
    font-weight: bold;
}

/* tutorial */

#tutorial {
    width: 100%;
    height: 100%;
    background-color: grey;
}

/* menu css */

#menubtn {
    display: block;
    position: absolute;
    background-color: rgb(30, 30, 30);
    padding: 1px 3px;
    color: white;
    font-size: 1.5rem;
    margin: 10px 25px;
    bottom: 5px;
    right: 0;
}
#menubtn:hover {
    cursor: pointer;
    color: rgb(255, 240, 242);
}

#menu {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color: rgb(30, 30, 30);
    width: 500px;
    height: 500px;
}

#closemenu {
    position: absolute;
    font-size: 2rem;
    top: 15px;
    right: 15px;
    color: rgb(255, 100, 100);
}
#closemenu:hover {
    cursor: pointer;
    color: rgb(255, 80, 80);
}

/* cheats css */

/* password */
#cheatspassword {
    margin: 10px;
}

#passwordbutton {
    text-align: center;
    width: 110px;
    height: 25px;
    margin-top: 5px;
}
#passwordbutton:hover {
    cursor: pointer;
}

/* cheats menu */

#cheats {
    z-index: 2;
    background-color: black;
    position: absolute;
    display: none;
    overflow: scroll;
    width: 175px;
    height: 500px;
    top: 0;
    font-weight: bold;
}

#cheats p {
    font-family: 'Lexend';
    color: white;
    margin-left: 15px;
}

.cheat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    width: 150px;
    height: 45px;
    background-color: rgb(255, 42, 42);
    margin: 5px auto;
}

.cheat:hover {
    cursor: pointer;
    background-color: rgb(255, 69, 69);
}

.unlockcheat {
    font-size: 1rem !important;
}

/* cash counter */

#cash {
    color: pink !important;
}

#cashcontainer{
    font-weight: bolder;
    font-size: 2rem;
    font-family: 'Lexend';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

/* other stats */

#statscontainer {
    display: grid;
    grid-template-rows: repeat(3, 33%);
    background-color: rgb(35, 35, 35);
    align-items: center;
    padding: 0 20px;
    height: 500px;
    position: absolute;
    left: 12px;
    top: 0;

    margin: 0 auto;
    width: 100px;
    height: 125px;
}

.stats {
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'Lexend';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5px auto;
    padding: 5px;
    width: 70%;
    height: 20%;
    /* background-color: black; */
}

.stats img {
    height: 25px;
    margin-right: 10px;
}

/* the circle you click on */

#circlecontainer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 180px;
    margin: 150px auto;
    margin-top: 75px;
}

#circle {
    -webkit-user-drag: none;
    width: 175px;
    height: 175px;
    /* background-color: pink; */
    /* border-radius: 50%; */
    transition: 0.05s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
    font-size: 1.5rem;
}

#circle:hover {
    /* background-color: rgb(255, 183, 195); */
    cursor: pointer;
}

#circle:active {
    /* background-color: rgb(255, 199, 208); */
    transform: scale(0.98);
}

#crithit {
    display: none;
    pointer-events: none;
    z-index: 2;
    color: rgb(255, 100, 100);
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

/* mipi */

#mipi {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 3;
    top: 0;
    left: 0;
}
#mipi:hover {
    cursor: pointer;
}

/* title of upgrades/buildings */

.title {
    font-weight: bolder;
    font-size: 1.1rem;
    margin-left: 5px;
    padding: 10px;
    color: white;
    font-family: 'Lexend';
}

/* upgrades */
#upgrades {
    background-color: rgb(35, 35, 35);
    width: 150px;
    height: 500px;
    position: absolute;
    right: 12px;
    top: 0;
    overflow: scroll;
}

.upgrade {
    margin-bottom: 5px !important;
    padding: 5px;
    color: white;
    background-color: grey;
    width: 140px;
}

#upgrade2 {
    display: none;
}

#upgrade3 {
    display: none;
}

#upgrade4 {
    display: none;
}

#upgrade5 {
    display: none;
}

#amount4 {
    color: red;
}

/* buildings */
#buildings {
    background-color: rgb(35, 35, 35);
    width: 90%;
    margin: 0 auto;
    padding: 0px 5px;
    padding-bottom: 25px;
}

#building-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.building {
    margin-bottom: 5px !important;
    padding: 5px;
    color: white;
    background-color: grey;
    width: 98%;
    height: 104px;
}
.power, .amount {
    margin: 5px;
    padding: 5px;
    background-color: rgb(140, 140, 140);
}

.cost{
    margin: 5px;
    padding: 5px;
    background-color: darkgray;
}

.cost:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

#building2 {
    display: none;
}

#building3 {
    display: none;
}

#building4 {
    display: none;
}

#building5 {
    display: none;
}

/* css for where you see purchased buildings */
.buildingsbg {
    margin-bottom: 5px !important;
    padding: 5px;
    background-color: grey;
    background-size: contain;
    overflow: scroll;
    height: 104px;
}

#buildingsbg1{
    background-image: url(images/betterkitchenfloor.png);
}

#buildingsbg2 {
    display: none;
    background-image: url(images/stonesbackground.png);
}

#buildingsbg3 {
    display: none;
    background-image: url(images/cfkbg2.png);
}

#buildingsbg4 {
    display: none;
    background-image: url(images/CFKdarkpattern.png);
}

#buildingsbg5 {
    display: none;
    background-size: cover;
    background-image: url(images/saharacroppedeped.png);
}

#buildings

.buildingimg{
    height: 75px;
    margin: 5px;
}

#buildingimg1 {
    display: none;
}

#buildingimg2 {
    display: none;
}

#buildingimg3 {
    display: none;
}

#buildingimg4 {
    display: none;
}