@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
}

header {
    background-color: wheat;
    padding: 20px;
}

header > h1 {
    color: rgb(19, 19, 19);
    text-align: center;
    font-family:'Momo Trust Display', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.choices img {
    max-width: 75px;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family:'Momo Trust Display', sans-serif;
    position: relative;
}

.badge {
    font-size: 14px;
    background: rgb(255, 106, 106);
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -40px;
}
#pc-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family:'Momo Trust Display', sans-serif;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
    margin: 0px 18px;
    background-color: wheat;
    transition: 0.6s ease;
}

.choice:hover {
    background-color: rgb(255, 241, 214);
    cursor: pointer;
}

#action-msg {
    text-align: center;
    color: white;
    font-family:'Momo Trust Display', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.green-glow {
    border: 4px solid rgb(156, 255, 156);
    box-shadow: 0 0 10px green;
}
.red-glow {
    border: 4px solid rgb(255, 89, 89);
    box-shadow: 0 0 10px rgb(255, 12, 12);
}
.ylw-glow {
    border: 4px solid rgb(255, 236, 150);
    box-shadow: 0 0 10px rgb(255, 225, 89);
}